@use "../../styles/variables.scss" as *;

.chart-container {
  background-color: #FFFFFF;
  padding: 10px 25px;
  border-radius: 5px;
  border: 1px solid #94a3b8d6;
  box-shadow: 0px 2px 8px -1px #1E293B1F, 0px 2px 2px 1px #1E293B0A;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  h4 {
    margin: 7px 0px;
    font-family: $primary-font;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    text-align: left;
  }

}

.chart-container>div {
  width: 100%;
  flex-grow: 1;
}

.recharts-wrapper {
  width: 100% !important;
  height: 100% !important;
}

.recharts-legend-item {
  display: flex;
  align-items: center;
  gap: 5px;

  text {
    fill: black !important;
  }

  .recharts-surface {
    fill: currentColor !important;
  }
}