@import "./variables";

.dashboard {
  margin-left: 230px;
  /* Match updated sidebar width */
  padding: 20px;
  width: calc(100% - 230px);
  /* Take the remaining width after the sidebar */
  box-sizing: border-box;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h2 {
      color: #000000;
      font-family: $primary-font;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0%;
    }
  }

  .charts {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    height: 260px;
    width: 100%;
    /* Ensure charts take full width of the container */
    flex-wrap: wrap;
    /* Allow charts to wrap if needed */
  }

  h4 {
    font-family: $primary-font;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .table-heading {
    margin-top: 35px;
    font-family: $primary-font;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    vertical-align: middle;
  }
}