@use "../../styles/variables.scss" as *;

.modal-box {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 24px;
    max-width: 800px;
    margin: auto;
    position: relative;
    top: 20%;
    font-family: $primary-font !important;
    display: flex;
    flex-direction: column;
}

.modal-box {
    font-family: $primary-font !important;
}

.modal-box * {
    font-family: inherit !important;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.close-btn {
    color: #00324E;
}

.section-title {
    color: #0070B0;
    margin-bottom: 4px !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 18px !important;
}

.modal-row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.modal-row>div {
    flex: 1;
    min-width: 300px;
}

.manuscript-section {
    display: flex;
    flex-direction: column;
}

.manuscript-text {
    color: #00324E !important;
    background: none;
    padding: 6px 0;
    display: flex;
    align-items: center;
    height: 40px;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 18px !important;
    vertical-align: middle !important;
}

.file-upload-wrapper {
    display: flex;
    gap: 16px;
    width: 100%;
}

.file-upload-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.file-drop-area {
    font-family: $primary-font !important;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1%;
    border: 2px dashed #94A3B8;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    color: #00324E;
    min-height: 50px;
    width: 100%;

    &:hover {
        border-color: #00324E;
        transition: border-color 0.3s;
    }
}

.file-format-info {

    font-family: $primary-font !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    font-size: 12px !important;
    color: #1E293BBF !important;
    text-align: right;
    margin-top: 4px;
    width: 100%;
}

.file-preview-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.file-preview-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.uploaded-file {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    margin-bottom: 4px;
}

.reset-files-btn {
    color: #ff0000;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 12px;

    .cancel-btn {
        font-family: $primary-font !important;
        font-size: 14px !important;
        font-weight: 600 !important;
        text-transform: none !important;
        padding: 8px 16px !important;
        border-radius: 6px !important;
        color: #1A3D7D !important;
        border: 1px solid #1A3D7D !important;
        background-color: transparent !important;

        &:hover {
            background-color: rgba(0, 0, 0, 0.05) !important;
        }
    }

    .save-btn {
        font-family: $primary-font !important;
        font-size: 14px !important;
        font-weight: 600 !important;
        text-transform: none !important;
        padding: 8px 16px !important;
        border-radius: 6px !important;
        background-color: #1A3D7D !important;
        color: #FFFFFF !important;

        &:hover {
            background-color: #1A3D7D !important;
        }
    }
}

.modal-box .MuiTextField-root {
    font-size: 14px;
}

.modal-box .MuiInputBase-root {
    height: 40px;
    padding: 5px 10px; 
}

.modal-box .MuiSelect-select {
    padding: 8px 12px;
}

.modal-box {
    .MuiInputBase-input,
    .MuiSelect-select,
    .MuiChip-label,
    .uploaded-file {
        font-family: $primary-font !important;
        font-weight: 400 !important;
        font-size: 12px !important;
        line-height: 18px !important;
        letter-spacing: 2% !important;
        vertical-align: middle !important;
    }
}

.MuiMenuItem-root {
    font-family: $primary-font !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 18px !important;
    letter-spacing: 2% !important;
}