
.dashboard-container {
    background: pink;
    h3 {
        font-family: "Merriweather Sans", sans-serif;
        font-size: 20px;
        padding: 20px;
    }

    p {
        font-family: "Merriweather Sans", sans-serif;
        border: 2px solid red;
    }
}